numpy==1.19.0
pandas==1.0.5
requests==2.24.0
tqdm==4.47.0
regex==2020.6.8
transformers==3.3.1
tokenizers==0.8.0
scipy==1.5.1
scikit-learn==0.23.1
tensorboardX==2.1
wandb==0.9.2
matplotlib==3.2.2
googledrivedownloader==0.4
onnxruntime==1.5.2
seqeval==1.2.0