numpy==1.18.4
pandas==1.0.3
requests==2.23.0
tqdm==4.46.0
regex==2020.4.4
transformers==2.8.0
scipy==1.4.1
scikit-learn==0.22.2.post1
tensorboardX==2.0
wandb==0.8.35
matplotlib==3.2.1
googledrivedownloader==0.4
tensorflow-hub==0.8.0
tensorflow-text==2.2.1